api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
    exception_to_status:
        Symfony\Component\Serializer\Exception\UnexpectedValueException: 400
        OpenSolid\Domain\Error\EntityNotFound: 404
        OpenSolid\Domain\Error\InvariantViolation: 422
