# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
services:
    _defaults:
        autowire: true
        autoconfigure: true

    _instanceof:
        App\Shared\Domain\Model\Id:
            resource_tags: ['app.domain.model.id']

    App\:
        resource: '../src/'
